<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div  class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
            data-controller="utils--refresh"
            data-utils--refresh-interval-value="10000">
        <table  class="table-auto min-w-full divide-y divide-gray-200"
                data-controller="coins--datatable"
                data-coins--datatable-url-value="<%= datatables_coins_path %>"
                data-utils--refresh-target="refreshable">
          <thead class="bg-gray-800">
            <tr>
              <th scope="col" class="px-3 py-3 text-center text-gray-300 rounded-md text-sm font-medium hover:text-white tracking-wider cursor-pointer">
                #
              </th>
              <th data-sortable="false" scope="col" class="px-8 py-3 text-center text-gray-300 rounded-md text-sm font-medium tracking-wider">
                Name
              </th>
              <th scope="col" class="px-8 py-3 text-center text-gray-300 rounded-md text-sm font-medium hover:text-white tracking-wider cursor-pointer">
                Current Price
              </th>
              <th scope="col" class="px-8 py-3 text-center text-gray-300 rounded-md text-sm font-medium hover:text-white tracking-wider cursor-pointer">
                Price Change 1H
              </th>
              <th scope="col" class="px-8 py-3 text-center text-gray-300 rounded-md text-sm font-medium hover:text-white tracking-wider cursor-pointer">
                Price Change 24H
              </th>
              <th scope="col" class="px-8 py-3 text-center text-gray-300 rounded-md text-sm font-medium hover:text-white tracking-wider cursor-pointer">
                Price Change 7D
              </th>
              <th scope="col" class="px-8 py-3 text-center text-gray-300 rounded-md text-sm font-medium hover:text-white tracking-wider cursor-pointer">
                Market Cap
              </th>
              <th data-sortable="false" scope="col" class="px-8 py-3 text-center text-gray-300 rounded-md text-sm font-medium tracking-wider">
                24H Range
              </th>
              <th scope="col" class="px-8 py-3 text-center text-gray-300 rounded-md text-sm font-medium hover:text-white tracking-wider cursor-pointer">
                Circulating Supply
              </th>
              <th scope="col" class="px-8 py-3 text-center text-gray-300 rounded-md text-sm font-medium hover:text-white tracking-wider cursor-pointer">
                Total Supply
              </th>
            </tr>
          </thead>
          <tbody class="bg-gray-800 divide-y divide-gray-200 text-white">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
